<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/access/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/access/css/default.css}"/>

</head>


<body>
<th:block th:insert="~{user-temple/header_on :: header_on}" th:if="${session.USERNAME}"></th:block>


<th:block th:insert="~{user-temple/header_off :: header_off}" th:unless="${session.USERNAME}"></th:block>

<div class="container">
</div>
<div class="container text-center mt-4">
    <h2 class="text-uppercase" th:text="'đồng hồ '+${brandName}+' chính hãng'"></h2>
    <p>
    <span style="font-size: 95%;">Với nhiều mẫu mã đa dạng, chất lượng đảm bảo và giá cả phải chăng, <strong>SHOPDONGHO.com</strong> là một trong những địa chỉ mua <strong
            th:text="${brandName}"></strong> uy tín và chất lượng
    </span>
    </p>
</div>

<div class="container" style="width: 80%">
    <div class="container" style="height: 50px">
        <button id="shop-button" class="btn btn-outline-secondary my-2 fw-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel"
                 viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
            </svg>
            Lọc
        </button>
        <a th:href="@{/allProducts(brandName=${'Casio MTP'})}" class="rounded-2 btn btn-outline-secondary mx-2 my-2"
           style="background-color: rgba(247, 247, 247, 0.8)">
            <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/99/b8/99b80762d901e26f614d8cd23a8acd8d.png"
                 style="width: 80px;height: 20px;" alt="Casio">
        </a>
        <a th:href="@{/allProducts(brandName=${'Casio Edifice'})}" class="rounded-2 btn btn-outline-secondary mx-2 my-2"
           style="background-color: rgba(247, 247, 247, 0.8)">
            <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/7264/01/54/0154a778f5b3b9aedd9aa43494d3b4de.png"
                 style="width: 80px;height: 20px;" alt="Casio">
        </a>
        <a th:href="@{/allProducts(brandName=${'Casio G-Shock'})}" class="rounded-2 btn btn-outline-secondary mx-2 my-2"
           style="background-color: rgba(247, 247, 247, 0.8)">
            <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/7264/8d/39/8d3928c9a09fe81896276c6fa5f50368.png"
                 style="width: 80px;height: 20px;" alt="Casio">
        </a>
        <a th:href="@{/allProducts(brandName=${'Seiko'})}" class="rounded-2 btn btn-outline-secondary mx-2 my-2"
           style="background-color: rgba(247, 247, 247, 0.8)">
            <img src="https://th.bing.com/th/id/R.e7a37e9fa91208d2aaa432cb87cd3f04?rik=xlbl9MCk4RJUBg&pid=ImgRaw&r=0"
                 style="width: 80px;height: 20px;" alt="Casio">
        </a>
    </div>
    <div class="container mt-4 flex-nowrap">
        <span>Sắp xếp theo:</span>
        <a th:href="@{/saleAsc(brand=${brandName})}" class="mx-2 my-2 text-dark-emphasis">Giảm giá</a>
        <a th:href="@{/bestSeller(brand=${brandName})}" class="mx-2 my-2 text-dark-emphasis">Bán chạy</a>
        <a style="display: inline-block" class="text-dark-emphasis dropdown-toggle" type="button"
           id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Giá
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" th:href="@{/priceASC(brand=${brandName})}">Giá thấp - cao</a></li>
            <li><a class="dropdown-item" th:href="@{/priceDESC(brand=${brandName})}">Giá cao - thấp</a></li>
        </ul>

    </div>
    <hr class="my-4">
    <div class="col-md-8" id="customer-form" style="display: none;">
        <form th:action="@{/searchProduct}" method="get" class="customer_info form-control"
              novalidate="novalidate">
            <div>
                <div class="container row" style="width: 95%">
                    <p class="fw-bold">Hãng</p>
                    <label class="form-control mx-2 my-2 " style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Casio LTP'}" th:text="${' Casio LTP'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Casio Edifice'}" th:text="${' Casio Edifice'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Casio G-Shock'}" th:text="${' Casio G-Shock'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Casio Sheen '}" th:text="${' Casio Sheen '}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Pierre Lannier'}"
                               th:text="${' Pierre Lannier'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Daniel Wellington'}"
                               th:text="${' Daniel Wellington'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Seiko'}" th:text="${' Seiko'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'MVMT'}" th:text="${' MVMT'}">
                    </label>
                    <label class="form-control mx-2 my-2" style="width: fit-content">
                        <input name="brand" type="checkbox" th:value="${'Casio MTP'}" th:text="${' Casio MTP'}">
                    </label>
                </div>
                <hr class="my-2">
                <div class="container row" style="width: 95%">
                    <div class="col-md-5">
                        <div class="container row">
                            <p class="fw-bold">Đối tượng sử dụng</p>
                            <div class="row flex-nowrap">
                                <label class="form-control mx-2 my-2" style="width: fit-content">

                                    <input name="type" type="checkbox" th:value="${'Nam'}" th:text="${' Nam'}">
                                    <img src="https://cdn.tgdd.vn/ValueIcons/8b2f1b4b1b3ea22a4135b590a9e1da67.png"
                                         style="width: 45px; height: 50px;" alt="Image">
                                </label>
                                <label class="form-control mx-2 my-2" style="width: fit-content">
                                    <input name="type" type="checkbox" th:value="${'Nữ'}" th:text="${' Nữ'}">
                                    <img src="https://cdn.tgdd.vn/ValueIcons/382008e8a35dd863e5ede0bc36dd4805.png"
                                         style="width: 50px; height: 50px;" alt="Image">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="container row" style="width: 95%">
                            <p class="fw-bold">Giá</p>
                            <label class="form-control mx-2 my-2" style="width: fit-content">
                                <input name="rangePrice" type="checkbox" th:value="${'0,1000000'}"
                                       th:text="${' Dưới 1 triệu'}">
                            </label>
                            <label class="form-control mx-2 my-2" style="width: fit-content">
                                <input name="rangePrice" type="checkbox" th:value="${'1000000,3000000'}"
                                       th:text="${' Từ 1 - 3 triệu'}">
                            </label>
                            <label class="form-control mx-2 my-2" style="width: fit-content">
                                <input name="rangePrice" type="checkbox" th:value="${'3000000,5000000'}"
                                       th:text="${' Từ 3 - 5 triệu'}">
                            </label>
                            <label class="form-control mx-2 my-2" style="width: fit-content">
                                <input name="rangePrice" type="checkbox" th:value="${'5000000,7000000'}"
                                       th:text="${' Từ 5 - 7 triệu'}">
                            </label>
                            <label class="form-control mx-2 my-2" style="width: fit-content">
                                <input name="rangePrice" type="checkbox" th:value="${'7000000,10000000'}"
                                       th:text="${' Từ 7 - 10 triệu'}">
                            </label>
                            <label class="form-control mx-2 my-2" style="width: fit-content">
                                <input name="rangePrice" type="checkbox" th:value="${'10000000'}"
                                       th:text="${' Trên 10 triệu'}">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-2">
            <div class="d-flex align-items-center justify-content-center">
                <div class="btn">
                    <button type="submit" value="Submit" class="btn btn-primary form-control">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="products">
    <div class="container-sm" style="width: 80%">
        <div class="row">
            <section class="product-wrapper pt-70">
                <div th:if="${products.size() == 0 }" class="alert alert-info text-center row">
                    <p class="col-md-12 fs-5">
                        Sản phẩm này hiện đang hết hàng
                    </p>
                    <a th:href="@{/home-page}">
                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                            <div style="width: 300px; height: 40px;" class="bg-success rounded-2">
                                <span class=" text-white mt-2">Mua mặt hàng khác</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div th:if="${success}" class="pt-2" >
                    <div class="alert alert-success mt-2 text-center" th:text="${success}"></div>
                </div>
                <div th:if="${products.size()>0}" class="container-fluid rounded-2" style="background-color: #e3f4ff">
                    <h3 th:text="'Đồng hồ '+${brandName}" class=" pt-2 text-center"
                        style="text-transform: uppercase"></h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mb-4" th:each="tmpProduct: ${products}">
                            <form th:action="@{/addToCart}" method="post">
                                <div class="product-style-3 mt-30 border border-2 border-dark rounded">
                                    <div class="product-image d-flex justify-content-center align-items-center"
                                         style="background-color: white">
                                        <div class="product-item active d-flex align-items-center justify-content-center">
                                            <a th:href="@{/productDetails(productId=${tmpProduct.productId})}">
                                                <img class="rounded-0 "
                                                     th:src="|data:image/jpeg;base64,${tmpProduct.imageUrl}|"
                                                     alt="product"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a th:href="@{/productDetails(productId=${tmpProduct.productId})}"><h4
                                                th:text="${tmpProduct.category.name.split(' ')[0]}+' '+${tmpProduct.name}"
                                                class="title"></h4></a>

                                        <div>
                                            <span class="priceOriginal price-original"
                                                  style="text-decoration: line-through; font-size: 16px;"
                                                  th:text="${tmpProduct.originalPrice}+'đ'"></span>
                                            <span class="rounded-2"
                                                  style=" font-size: 16px; color: red;margin-left: 10px;
                padding: 2px 2px; background-color:#f4c2c2;"
                                                  th:text="- ${tmpProduct.salePrice}+'%'"></span>
                                            <div class="product-price-cart">
                                        <span
                                                th:text="${tmpProduct.originalPrice -
                                    tmpProduct.originalPrice*tmpProduct.salePrice/100}+'đ'"
                                                class="priceSale price"></span>
                                            </div>
                                        </div>
                                        <div class="product-price-cart d-flex align-items-center justify-content-center mb-4">
                                            <input type="hidden" th:value="${tmpProduct.productId}" name="productId">
                                            <button type="submit" class="main-btn primary-btn cart">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                     fill="currentColor" class="bi bi-cart-check-fill mb-2"
                                                     viewBox="0 0 16 16">
                                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                                </svg>
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="pt-5 mb-4">
                    <h4 class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
                        </svg>
                        Gợi ý cho bạn
                    </h4>
                </div>

            </section>
            <div class="container bg-body-secondary">
                <div class="row">
                    <div th:if="${start.index<6}" class="col-md-2" th:each="tmpProduct,start:${productsSuggest}">
                        <form th:action="@{/addToCart}" method="post" style="min-height: 300px">
                            <div class="product-style-3 mt-30 border border-2 border-dark rounded shadow">
                                <div class="product-image d-flex justify-content-center align-items-center"
                                     style="background-color: white">
                                    <div class="product-item active d-flex align-items-center justify-content-center">
                                        <a th:href="@{/productDetails(productId=${tmpProduct.productId})}">
                                            <img class="rounded-0 " style="width: 120px;height:120px;"
                                                 th:src="|data:image/jpeg;base64,${tmpProduct.imageUrl}|"
                                                 alt="product"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content ">
                                    <a style="text-decoration: none;"
                                       th:href="@{/productDetails(productId=${tmpProduct.productId})}">
                                        <h4 style="font-size: 10px;
                                                       width: 120px;
                                                       white-space: nowrap;
                                                       overflow: hidden;
                                                       text-overflow: ellipsis;"
                                            th:text="${tmpProduct.category.name.split(' ')[0]}+' '+${tmpProduct.name}"
                                            class="title"></h4>
                                    </a>

                                    <div>
                                            <span class="priceOriginal price-original"
                                                  style="text-decoration: line-through; font-size: 16px;"
                                                  th:text="${tmpProduct.originalPrice}+'đ'"></span>
                                        <span class="rounded-2"
                                              style=" font-size: 16px; color: red;margin-left: 10px;
                padding: 2px 2px; background-color:#f4c2c2;"
                                              th:text="- ${tmpProduct.salePrice}+'%'"></span>
                                        <div class="product-price-cart">
                                        <span
                                                th:text="${tmpProduct.originalPrice -
                                    tmpProduct.originalPrice*tmpProduct.salePrice/100}+'đ'"
                                                class="priceSale price"></span>
                                        </div>
                                    </div>
                                    <div class="product-price-cart d-flex align-items-center justify-content-center mb-4">
                                        <input type="hidden" th:value="${tmpProduct.productId}" name="productId">
                                        <button type="submit" class="main-btn primary-btn cart"
                                                style="font-size: 10px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-cart-check-fill mb-2"
                                                 viewBox="0 0 16 16">
                                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                            </svg>
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section product-wrapper pt-70">
    <hr class="my-4">
    <div class="section-content-top-brand">
        <div class="col-inner">
            <div class="text text-center mb-4">
                <h2>THƯƠNG HIỆU ĐỒNG HỒ</h2>
            </div>
            <div class="container-sm top-brand">
                <ul class="row d-flex justify-content-center">
                    <li class="col-lg-2"><a href="https://shopdongho.com/casio/"><img decoding="async" width="100%"
                                                                                      height="100%"
                                                                                      src="https://media.shopdongho.com/2023/02/8Z9BW1Fc-hinh-anh-logo-thuong-hieu-casio.png"
                                                                                      alt="casio">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/edifice/"><img decoding="async" width="100%"
                                                                                        height="100%"
                                                                                        src="https://media.shopdongho.com/2023/02/JLO4EEaf-hinh-anh-logo-thuong-hieu-edifice.png"
                                                                                        alt="edifice">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/g-shock/"><img decoding="async" width="100%"
                                                                                        height="100%"
                                                                                        src="https://media.shopdongho.com/2023/02/UxgpAlLK-hinh-anh-logo-thuong-hieu-g-shock.png"
                                                                                        alt="g-shock">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/mtp/"><img decoding="async" width="100%"
                                                                                    height="100%"
                                                                                    src="https://media.shopdongho.com/2023/02/ZICWJyhL-hinh-anh-logo-thuong-hieu-mtp.png"
                                                                                    alt="casio mtp">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/ltp/"><img decoding="async" width="100%"
                                                                                    height="100%"
                                                                                    src="https://media.shopdongho.com/2023/02/9dlQDqhL-hinh-anh-logo-thuong-hieu-ltp.png"
                                                                                    alt="casio ltp">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/olym-pianus/"><img decoding="async"
                                                                                            width="100%"
                                                                                            height="100%"
                                                                                            src="https://media.shopdongho.com/2023/02/BGgbt52v-hinh-anh-logo-thuong-hieu-olym-pianus-2.png"
                                                                                            alt="olym pianus">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/orient/"><img decoding="async" width="100%"
                                                                                       height="100%"
                                                                                       src="https://media.shopdongho.com/2023/02/cadkrMXC-hinh-anh-logo-thuong-hieu-orient.png"
                                                                                       alt="orient">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/citizen/"><img decoding="async" width="100%"
                                                                                        height="100%"
                                                                                        src="https://media.shopdongho.com/2023/02/hEn5qCs8-hinh-anh-logo-thuong-hieu-citizen.png"
                                                                                        alt="citizen">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/seiko/"><img decoding="async" width="100%"
                                                                                      height="100%"
                                                                                      src="https://media.shopdongho.com/2023/02/nAYpsdxd-hinh-anh-logo-thuong-hieu-seiko.png"
                                                                                      alt="seiko">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/pierre-lannier/"><img decoding="async"
                                                                                               width="100%"
                                                                                               height="100%"
                                                                                               src="https://media.shopdongho.com/2023/02/TVSzVOuI-hinh-anh-logo-thuong-hieu-pierre-lannier.png"
                                                                                               alt="pierre lannier">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/daniel-wellington/"><img decoding="async"
                                                                                                  width="100%"
                                                                                                  height="100%"
                                                                                                  src="https://media.shopdongho.com/2023/02/vWNOj8hU-hinh-anh-logo-thuong-hieu-daniel-welington.png"
                                                                                                  alt="daniel welington">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/mvmt/"><img decoding="async" width="100%"
                                                                                     height="100%"
                                                                                     src="https://media.shopdongho.com/2023/02/OzEhcMn2-hinh-anh-logo-thuong-hieu-mvmt.png"
                                                                                     alt="mvmt">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/olympia-star/"><img decoding="async"
                                                                                             width="100%" height="100%"
                                                                                             src="https://media.shopdongho.com/2023/02/sT7WZcCv-hinh-anh-logo-thuong-hieu-olympia-star.png"
                                                                                             alt="olympia star">
                    </a></li>
                    <li class="col-lg-2"><a href="https://shopdongho.com/percent/"><img decoding="async" width="100%"
                                                                                        height="100%"
                                                                                        src="https://media.shopdongho.com/2023/03/hinh-anh-logo-thuong-hieu-percent.png"
                                                                                        alt="percent">
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<th:block th:insert="~{ user-temple/footer :: footer}"></th:block>

</body>

<script th:src="@{/access/js/home.js}"></script>

<!-- First load Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

<!-- Then load Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</html>

