<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/access/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/access/css/sb-admin-2.min.css}" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/access/css/login.css}"/>

</head>
<body class="bg-gradient-primary">
<div class="vh-100 mt-4">
    <div class="container h-custom">
        <div th:if="${success}">
            <div class="alert alert-success" th:text="${success}"></div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-success" th:text="${error}"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row ">
                            <div class="col-lg-6" style="max-height: 450px">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="https://th.bing.com/th/id/R.faa4236f01c9458c27af1fef1214199f?rik=4JuGpABWsGdAFQ&riu=http%3a%2f%2fwww.zastavki.com%2fpictures%2foriginals%2f2014%2fBrands____Beautiful_watches_065807_.jpg&ehk=akqyWvVViw5kVAohEcgshnRrzrNO5bufH6aFjEy6m1Y%3d&risl=&pid=ImgRaw&r=0"
                                         alt="image">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-5">
                                <div th:if="${param.error}" class="alert alert-danger mt-3 text-center" role="alert">
                                    Tên tài khoản hoặc mật khẩu không chính xác.
                                </div>
                                <form class="my-4" th:action="@{/login}" method="POST">

                                    <div class="text-center">
                                        <h1 class="h4 text-white mb-2">User Login</h1>
                                    </div>
                                    <!-- Email input -->
                                    <div data-mdb-input-init class="form-outline mb-2 ">
                                        <label class="form-label text-white">Email address</label>
                                        <input type="text" id="username" name="username"
                                               class="form-control form-control-lg"
                                               placeholder="Enter a email address"/>
                                    </div>
                                    <!-- Password input -->
                                    <div data-mdb-input-init class="form-outline mb-2">
                                        <label class="form-label text-white">Password</label>
                                        <input type="password" id="password" name="password"
                                               class="form-control form-control-lg"
                                               placeholder="Enter password"/>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center">

                                        <a th:href="@{/forgotPassword}" class="text-body link-danger"><p
                                                class="text-white">Forgot
                                            password?</p></a>
                                    </div>
                                    <p class="mt-2" style="color: red" th:text="${error}"></p>
                                    <div class="text-center text-lg-start mt-1 pt-2">
                                        <button type="submit" value="Submit" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-primary btn-lg"
                                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                                        </button>
                                        <p class="small fw-bold mt-2 pt-1 mb-0 text-white">Don't have an account?
                                            <a th:href="@{/showRegister}"
                                               class="link-danger">Register here</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<!-- partial -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
